<?php

return function(\T24\Event\SqsMessageReceivedEvent $event) use ($writeln, $color) {
    /* @var $color \Colors\Color */
    //  $writeln($color('hello')->bold());
    $sqsMessage = $event->getSqsMessage();
    // ...
    // the message has been processed..
    // it can be deleted. a boolean flag gives a status update.
    $sqsMessage->proceed(true);


};